/* CSS Rest*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
::placeholder{
  font-size: 18px;
  letter-spacing: 0;
  color: #8D8D8D;
  opacity: 1;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #CAD3DF 0% 0% no-repeat padding-box;
}
body {
  line-height: 1;
  padding: 0;
  margin: 0;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  padding: 0px;
  margin: 0;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #FC7605 ;
}

/* CSS Rest*/

/*elements Toggle switch Button*/
/*https://jsfiddle.net/fpy4hLgs/1/*/
/*https://jsfiddle.net/Rayudu/709753m0/*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {display:none;}

.switch .slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1.5px solid #707070;
}


.switch .slider:before {
  position: absolute;
  z-index: 2;
  content: "";
  height: 30px;
  width: 30px;
  left: -2px;
  bottom: -2px;
  background-color: #707070;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  -webkit-transition: .4s;
  transition: all 0.4s ease-in-out;
}
.switch .slider:after {
  position: absolute;
  left: 0;
  z-index: 1;
  content: "Yes";
  font-size: 12px;
  text-align: left !important;
  line-height: 28px;
  padding-left: 0;
  width: 60px;
  color: #FC7605;
  height: 30px;
  border-radius: 100px;
  background-color: #fff;
  -webkit-transform: translateX(-160px);
  -ms-transform: translateX(-160px);
  transform: translateX(-160px);
  transition: all 0.4s ease-in-out;
}

.switch input:checked + .slider:after {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  /*width: 235px;*/
  padding-left: 5px;
}
.switch input:checked + .slider:before {
  background-color: #FC7605;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.main {
  background: #1c7430;
}
.switch .slider.round {
  border-radius: 100px;
}

.switch .slider.round:before {
  border-radius: 50%;
}
.switch .absolute-no {
  position: absolute;
  left: 0;
  color: #707070;
  text-align: right !important;
  font-size: 12px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  padding-right: 8px;
}
/*elements Toggle switch Button*/

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.mini-container {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
h1.head-title {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  color: #160F53;
}
.page-title {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1;
}
.title-lead {

}
.custom-form {
  max-width: 345px;
  width: 100%;
  margin: 0 auto;
}
input.form-control {
  padding: 10px 30px;
  height: 40px;
}
.custom-form .input-group {
  padding:5px;
  margin-top: 20px;
  border: 0.25px solid #707070;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}
.custom-form  .input-group  .form-control:focus {
  color: inherit;
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.form-control:focus {
  color: inherit;
  background-color: #fff;
  outline: 0;
  box-shadow: none;
}
.custom-form  .input-group .form-control{
  height: 40px;
  border-radius: 10px;
  border: none;
}
.custom-form .input-group-prepend {
  margin-right: 1px;
}
.custom-form .form-btn {
  width: 156px;
  height: 52px;
}

.page-title-icon {
  width: 94px;
  height: 94px;
  background: #FC7605 0% 0% no-repeat;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}
.theme-footer {
  margin-top: 30px;
}
.theme-footer .footer-sep {
  border-right: 1px solid #CAD3DF;
  border-left: 1px solid #CAD3DF;
}
.theme-footer p {
  color: #8493A8;
}
.theme-footer .footer-menu .f-title, .f-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
  letter-spacing: 0;
  color: #3D4D65;
  text-transform: uppercase;
  opacity: 1;
}
.theme-footer .footer-menu ul li {
  margin-bottom: 15px;
  font-size: 15px;
  letter-spacing: 0;
  color: #3D4D65;
  opacity: 1;
}
.theme-footer .bottom-footer p {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0;
  color: #8493A8;
}
.subscribe-field {

}
.subscribe-field input{
  background-color: #ECEFF4;
}


/*Become Agent Page*/

.agent-register {
  margin-bottom: 145px;
}

/*welcome-page*/

.welcome-page .start-btn, .start-btn {
  width: 156px;
  height: 52px;
  background: #FC7605 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

.agent-form {
  background-color: #FCFCFC;
  padding: 30px 40px
}
.agent-form .form-title {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
  margin-bottom: 35px;
}
.agent-form .form-tag-line {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  margin-bottom: 50px;
}
.agent-form .form-section {
  margin-bottom: 10px;
}
.agent-form .form-group {
  margin-bottom: 17px;
}
.agent-form .form-group span.switch-title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}
 .agent-form .form-group label {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}
.agent-form .form-group input.form-control ,.agent-form .form-group select.form-control {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.25px solid #707070;
  border-radius: 10px;
  opacity: 1;
}
.agent-form .form-group input::placeholder{
  font-size: 15px;
  letter-spacing: 0;
  color: #8D8D8D;
  opacity: 1;
}
.agent-form .form-group input.form-control {
  padding: 15px 15px;
}
.form-group .input-group i {
  position: absolute;
  right: 5px;
  top: 8px;
  color: #FC7605;
  z-index: 9;
}
.form-group select.input-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}


.form-group select + i {
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  background-color: #fff;
  padding-right: 5px;
  color: #FC7605;
}
.agent-form .form-lead-text {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  line-height: 24px;
}












/*https://codepen.io/athimannil/pen/wWPYkQ/*/
.root {
  position: relative;
  width: 100%;
  float: left;
}
.progress-container{
  width: 100%;
  float: left;
  z-index: 1;
}
.progressbar {
  float: left;
  width: 100%;
}
.progressbar li{
  float: left;
  width: calc(100% / 6);
  position: relative;
}
.progressbar li:after{
  content: url(../images/progress-icon.png);
  z-index: 9999999;
  background: #fff;
  float: left;
}

.progressbar li:before{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 23px;
  left: -85%;
  z-index: -1;
}

.progressbar li:first-child:before{
  content: none;
}

.progressbar li.active:before{
  background: #FC7605 ;
}
.progressbar li.active:after{
  content: url(../images/progress-icon-2.png);
  color: white
}
