/* CSS Rest*/
/*https://xd.adobe.com/view/6e346c8a-9578-4c94-4cc8-d06aa012c247-1805/*/
/*https://xd.adobe.com/view/26a1f490-da67-423c-4c4e-2fc3a54b2482-5090/*/
/*PM*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.overflow-x-h {
  overflow-x: hidden; }

.fadeInLeft {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-delay: 1s; }

.fadeInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-delay: 1s; }

.fadeInUp {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  animation-delay: 1s; }

::placeholder {
  font-size: 18px;
  font-family: Roboto;
  letter-spacing: 0;
  color: #c9c9c9;
  opacity: 1; }

/* HTML5 display-role reset for older browsers */
.bg-semi-dark {
  background-color: #F1EFEF; }

.bg-gray {
  background: #FBFBFB 0% 0% no-repeat padding-box; }

.bg-silver {
  background: rgba(252, 118, 5, 0.05) 0% 0% no-repeat padding-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #CAD3DF 0% 0% no-repeat padding-box; }

.v-separator {
  padding: 50px 0; }

hr.section-divider {
  border-bottom: 1px solid #FC7605; }

.form-item__element {
  display: inline-block; }

.form-item__element--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #c9c9c9;
  font-family: Roboto;
  font-size: 15px; }
  .form-item__element--select:invalid, .form-item__element--select.has-placeholder, .form-item__element--select [disabled], .form-item__element--select option {
    color: #C9C9C9; }

body {
  line-height: 1;
  padding: 0;
  margin: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0px;
  margin: 0; }
  ul li {
    list-style: none; }
    ul li a {
      text-decoration: none; }

a.yellow-text {
  color: #FC7605;
  font-size: 15px;
  font-weight: 500;
  font-family: Roboto;
  letter-spacing: 0;
  opacity: 1; }

a:hover, a:focus, a:active {
  color: #FC7605; }

.text-chilean {
  color: #FC7605 !important; }

.font-500 {
  font-weight: 500 !important; }

.font-600 {
  font-weight: 600 !important; }

.font-13 {
  font-size: 13px !important; }

.font-15 {
  font-size: 15px !important; }

.font-17 {
  font-size: 17px !important; }

.font-18 {
  font-size: 18px !important; }

.font-34 {
  font-size: 34px !important; }

.font-22 {
  font-size: 22px !important; }

.text-medium {
  font-weight: 500 !important; }

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .text-ellipsis:hover {
    white-space: initial;
    overflow: inherit;
    transition: 0.5s all 5s; }

.cursor-pointer {
  cursor: pointer; }

.border-bottom {
  border-bottom: 1px solid #707070 !important; }

.border-top {
  border-top: 1px solid #707070 !important; }

.paragraph-text {
  font-size: 22px;
  margin-bottom: 40px;
  line-height: 35px;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 0;
  color: #000000; }

.agent-employment-form .paragraph-text {
  line-height: 25px; }

button:focus {
  outline: 0;
  outline: none; }

.btn-style {
  background: #FC7605 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  font-size: 18px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1; }
  .btn-style:hover {
    color: #FFFFFF; }

.btn-dark-style {
  width: 156px;
  height: 52px;
  background: #707070 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  font-size: 18px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1; }
  .btn-dark-style:hover {
    color: #FFFFFF; }

.add-btn {
  border: 1px solid #FC7605;
  border-radius: 10px;
  opacity: 1;
  padding: 14px 60px;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  color: #FC7605;
  opacity: 1; }

.btn-secondary {
  background: #FBFBFB 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  padding: 15px 20px;
  color: #333333; }
  .btn-secondary:active, .btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active {
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 10px;
    color: #333333;
    opacity: 1; }

/* CSS Rest*/
/*modal-css start*/
.modal-header {
  padding: 15px 15px;
  border-bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  .modal-header .close {
    padding: 15px 15px;
    margin: -1rem -1rem -1rem auto;
    font-size: 35px;
    font-weight: 100; }

.modal-body h2.modal-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1; }

.modal-footer {
  justify-content: center;
  padding: 30px 30px;
  border-top: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.application-status-dialog .modal-dialog {
  text-align: center;
  max-width: 566px;
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #FC7605;
  opacity: 1; }
.application-status-dialog .modal-content {
  border-radius: 0; }

/*modal-css End*/
/*menu NavBar start*/
.dropdown-submenu {
  position: relative; }
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px; }

.custom-nav {
  position: static; }
  .custom-nav .profile-icon {
    width: 34px;
    height: 34px;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    border: 1px solid #eee;
    background: #FC7605 0% 0% no-repeat padding-box; }

.navbar-expand-lg.custom-nav .navbar-nav {
  background: #FEFDFD 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 100px #00000040;
  border-radius: 0px 0px 0px 10px;
  opacity: 1; }

.custom-nav .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: none; }
.custom-nav .material-icons {
  font-size: 17px; }

.navbar-nav .nav-link {
  padding-right: 10px;
  padding-left: 10px;
  text-transform: uppercase; }

@media (min-width: 991px) {
  .custom-nav .collapse {
    position: absolute;
    right: 0;
    top: 0; }

  .navbar-expand-lg.custom-nav .navbar-nav {
    align-items: center; }
    .navbar-expand-lg.custom-nav .navbar-nav .nav-item .nav-link {
      padding: 10px 20px 10px 20px;
      font-size: 12px;
      font-family: Roboto;
      font-weight: 400;
      letter-spacing: 0;
      color: #FC7605;
      opacity: 1; }
    .navbar-expand-lg.custom-nav .navbar-nav .nav-item:first-child .nav-link {
      padding-left: 40px; }
    .navbar-expand-lg.custom-nav .navbar-nav .nav-item:nth-child(3) .nav-link {
      padding-right: 40px; }
    .navbar-expand-lg.custom-nav .navbar-nav .nav-item:last-child .nav-link {
      min-width: 175px;
      max-width: 200px;
      width: 100%;
      text-transform: capitalize; }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    background: #C65239;
    width: 436px;
    padding: 0;
    top: 45px;
    left: -100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0; }
    .navbar-expand-lg .navbar-nav .dropdown-menu:before {
      position: absolute;
      left: 35%;
      margin-left: -20px;
      top: -8px;
      width: 0;
      height: 0;
      content: '';
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #C65239; }

  .dropdown-item {
    display: inline-block;
    padding: 13px 30px;
    width: 120px;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0; }
    .dropdown-item:focus, .dropdown-item:hover {
      color: #fff;
      text-decoration: none;
      background-color: inherit;
      border-radius: 10px;
      border: none; }

  .navbar-expand-lg.custom-nav .dropdown-menu .dropdown-item a.nav-link {
    color: #fff;
    padding: 0 !important;
    text-transform: capitalize; } }
/*menu NavBar End*/
/*File Picker Button css Start*/
.file-picker {
  position: relative;
  cursor: pointer; }

.file-picker-label {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  font-family: Roboto;
  letter-spacing: 0;
  color: #000000;
  opacity: 1; }

.file-picker p {
  font-size: 15px;
  font-family: Roboto;
  margin-bottom: 0;
  text-align: center;
  margin-top: 5px;
  letter-spacing: 0;
  color: #000000;
  opacity: 1; }
.file-picker label {
  background: #BFBCBC 0% 0% no-repeat padding-box;
  border: 0.25px solid #707070;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-family: Roboto;
  padding: 8px 12px;
  opacity: 1;
  transition: all .4s; }
.file-picker input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  opacity: 0.01;
  cursor: pointer; }
  .file-picker input:hover + label, .file-picker input:focus + label {
    background: #BFBCBC 0% 0% no-repeat padding-box;
    border: 0.25px solid #707070;
    color: #000; }

/*File Picker Button css End*/
/*elements Toggle switch Button*/
.switch {
  position: relative; }

.cmn-toggle {
  position: absolute;
  visibility: hidden; }

.switch .no-absolute {
  font-family: Roboto;
  position: absolute;
  top: 8px;
  z-index: 1;
  right: 7px;
  font-size: 14px !important; }
.switch .yes-absolute {
  font-family: Roboto;
  color: #FC7605 !important;
  position: absolute;
  top: 8px;
  z-index: 1;
  left: 7px;
  font-size: 14px !important; }

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

input.cmn-toggle-round-flat + label {
  width: 60px;
  height: 30px;
  background-color: #707070;
  border-radius: 60px;
  transition: background 0.4s; }
  input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: ""; }
  input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 60px;
    transition: background 0.4s; }
  input.cmn-toggle-round-flat + label:after {
    height: 30px;
    width: 30px;
    background-color: #707070;
    border-radius: 53px;
    transition: margin 0.4s, background 0.4s;
    z-index: 9; }
input.cmn-toggle-round-flat:checked + label {
  background-color: #FC7605; }
  input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 30px;
    background-color: #FC7605; }

/*https://jsfiddle.net/fpy4hLgs/1/*/
/*https://jsfiddle.net/Rayudu/709753m0/*/
/*elements Toggle switch Button*/
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

.mini-container {
  max-width: 640px;
  width: 100%;
  margin: 0 auto; }

h1.head-title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  color: #160F53; }

.page-title {
  font-family: Roboto;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1; }

.title-lead {
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0;
  color: #000000;
  opacity: 1; }

.custom-form {
  max-width: 345px;
  width: 100%;
  margin: 0 auto; }

input.form-control {
  padding: 10px 30px;
  height: 40px; }

.custom-form .input-group {
  padding: 5px;
  margin-top: 20px;
  border: 1px solid #707070;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px; }
  .custom-form .input-group .form-control:focus {
    color: inherit;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: none; }

.form-control:focus {
  color: inherit;
  background-color: #fff;
  outline: 0;
  box-shadow: none; }

.custom-form .input-group .form-control {
  height: 40px;
  border-radius: 10px;
  border: none; }
.custom-form .input-group-prepend {
  margin-right: 1px; }
.custom-form .form-btn {
  width: 156px;
  height: 52px; }

.page-title-icon {
  width: 94px;
  height: 94px;
  background: #FC7605 0% 0% no-repeat;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff; }

.theme-footer {
  margin-top: 30px; }
  .theme-footer .footer-sep {
    border-right: 1px solid #CAD3DF;
    border-left: 1px solid #CAD3DF; }
  .theme-footer p {
    color: #8493A8; }
  .theme-footer .footer-menu .f-title {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    letter-spacing: 0;
    color: #3D4D65;
    text-transform: uppercase;
    opacity: 1; }

.f-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
  letter-spacing: 0;
  color: #3D4D65;
  text-transform: uppercase;
  opacity: 1; }

.theme-footer .footer-menu ul li {
  font-family: Roboto;
  margin-bottom: 15px;
  font-size: 15px;
  letter-spacing: 0;
  color: #3D4D65;
  opacity: 1; }
.theme-footer .bottom-footer p {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0;
  color: #8493A8; }

.subscribe-field input.form-control {
  padding: 10px 10px;
  height: 40px;
  background-color: #ECEFF4; }

/*Become Agent Page*/
.agent-register {
  margin-bottom: 145px; }

/*welcome-page*/
.welcome-page {
  margin-bottom: 160px; }
  .welcome-page .start-btn {
    width: 156px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    background: #FC7605 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1; }

.start-btn {
  min-width: 156px;
  padding-left: 15px;
  padding-right: 15px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  background: #FC7605 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1; }

.accordion .card {
  border: 1px solid #FC7605; }
  .accordion .card .card-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #FC7605; }
    .accordion .card .card-header .card-title {
      margin-bottom: 0;
      font-weight: 500;
      font-family: Roboto; }
    .accordion .card .card-header:after {
      font-size: 34px;
      color: #FC7605;
      font-family: "Material Icons";
      content: "\e5cc";
      float: right;
      margin-right: 20px; }
    .accordion .card .card-header.collapsed:after {
      /* symbol for "collapsed" panels */
      content: "keyboard_arrow_up"; }
    .accordion .card .card-header i {
      position: absolute;
      right: 10px;
      color: #FC7605;
      cursor: default; }

.accordion > .card .card-header {
  margin-bottom: 0px; }

.agent-form {
  background-color: #FCFCFC;
  padding: 30px 40px;
  margin-bottom: 70px; }
  .agent-form .form-title {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    border-bottom: 1px solid #707070;
    padding-bottom: 5px;
    margin-bottom: 35px; }
    .agent-form .form-title + p.title-description, .agent-form .form-title p.title-description {
      font-size: 18px;
      font-family: Roboto;
      font-weight: 400;
      margin-bottom: 50px;
      letter-spacing: 0;
      color: #979797;
      opacity: 1; }
  .agent-form h3.mini-title {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1; }

.row.vdivide [class*='col-']:not(:last-child):after {
  border-right: 1px solid #707070;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 70px; }

.vdivide.vdivide-chilean [class*='col-']:not(:last-child):after, .border-right-chilean {
  border-right: 1px solid #FC7605; }

.border-bottom-chilean {
  border-bottom: 1px solid #FC7605; }

.agent-form .form-tag-line {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  margin-bottom: 50px; }
.agent-form .form-section {
  margin-bottom: 10px; }
.agent-form .form-group {
  margin-bottom: 20px; }
  .agent-form .form-group span.switch-title {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;
    opacity: 1; }
  .agent-form .form-group label {
    font-size: 17px;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;
    opacity: 1; }
  .agent-form .form-group input.form-control, .agent-form .form-group select.form-control {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1; }
  .agent-form .form-group input::placeholder {
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0;
    color: #C9C9C9;
    opacity: 1; }
  .agent-form .form-group input.form-control {
    padding: 5px 15px; }
.agent-form .form-done-screen img {
  max-width: 156px;
  width: 100%;
  margin-bottom: 40px; }
.agent-form .form-done-screen h1 {
  ont-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1; }
  .agent-form .form-done-screen h1 + p {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 25px;
    color: #9B9B9B;
    opacity: 1; }

.text-gray {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 25px;
  color: #9B9B9B;
  opacity: 1; }

.agent-form .form-done-screen p.ref-text, p.ref-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 0;
  color: #FC7605;
  opacity: 1; }

.agent-form .form-done-screen p.box-text, p.box-text {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  margin-bottom: 24px;
  opacity: 1;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #FC7605;
  padding: 2px 15px; }

.agent-form .add-file-group {
  padding-top: 25px;
  padding-bottom: 50px;
  margin-bottom: 7px; }
  .agent-form .add-file-group h2.add-file-ref-title {
    display: inline-block;
    font-family: Roboto;
    font-size: 34px;
    vertical-align: middle;
    margin-right: 70px;
    font-weight: 300;
    letter-spacing: 0;
    color: #FC7605;
    opacity: 1; }
    .agent-form .add-file-group h2.add-file-ref-title span {
      font-size: 22px;
      font-weight: 500;
      font-family: Roboto;
      letter-spacing: 0;
      color: #000000;
      opacity: 1; }
  .agent-form .add-file-group a > ins {
    font-size: 22px;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0;
    color: #FC7605;
    opacity: 1; }
  .agent-form .add-file-group + p.add-file-info {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 110px;
    color: #B1B1B1;
    opacity: 1; }

p.add-file-info {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 110px;
  color: #B1B1B1;
  opacity: 1; }

.form-group .input-group i {
  position: absolute;
  right: 5px;
  top: 8px;
  color: #FC7605;
  z-index: 9; }
.form-group select.input-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */ }
.form-group select + i {
  z-index: 9;
  position: relative;
  float: right;
  margin-top: -30px;
  margin-right: 5px;
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  background-color: #fff;
  padding-right: 5px;
  color: #FC7605; }

.agent-form .form-lead-text {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  line-height: 24px; }

/*https://codepen.io/athimannil/pen/wWPYkQ/*/
.progress-container {
  margin-top: 40px;
  margin-bottom: 60px;
  z-index: 1; }

.progressbar {
  display: table;
  width: 100%;
  position: relative; }
  .progressbar li {
    width: calc(100% / 6);
    position: relative;
    display: table-cell;
    text-align: center; }
    .progressbar li label {
      margin-top: 10px;
      display: block;
      text-align: center;
      font-family: Roboto;
      font-size: 20px;
      line-height: 27px;
      font-weight: 400;
      letter-spacing: 0;
      color: #FC7605;
      opacity: 1; }
  .progressbar span:after {
    content: url(../images/progress-icon.jpg);
    z-index: 9999999;
    background: #fff; }
  .progressbar span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #979797;
    top: 23px;
    left: -50%;
    z-index: -1; }
  .progressbar li:first-child span:before {
    content: none; }
  .progressbar li span.active:before {
    background: #FC7605; }
  .progressbar li span.active:after {
    content: url(../images/progress-icon-2.png);
    color: white; }

/*Edit Profile styling start*/
.profile-edit-bar p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1; }

.application-status {
  display: flex;
  justify-content: space-between;
  background: #FFE2CA 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 16px 26px; }
  .application-status span:first-child {
    font-family: Roboto;
    font-size: 22px;
    padding-right: 20px;
    font-weight: 400;
    letter-spacing: 0;
    color: #000;
    opacity: 1; }
  .application-status span:nth-child(2) {
    font-family: Roboto;
    font-size: 25px;
    padding-left: 20px;
    font-weight: 500;
    letter-spacing: 0;
    color: #1BB90A;
    opacity: 1; }

.profile-edit-bar .blush-title, .blush-title {
  font-family: Roboto;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 0;
  color: #FC7605;
  opacity: 1; }

.bg-page-title {
  padding: 24px 35px;
  background: rgba(252, 118, 5, 0.21) 0% 0% no-repeat padding-box;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  color: #FC7605;
  opacity: 1; }

.custom-tab {
  border-bottom: 1px solid #FC7605; }
  .custom-tab .nav-item .nav-link {
    background-color: #fff;
    border: 1px solid #FC7605;
    padding: 17px 5px;
    border-radius: 0;
    color: #FC7605;
    font-size: 18px;
    font-weight: 400; }
  .custom-tab .nav-item.show .nav-link {
    font-family: Roboto;
    color: #FFFFFF;
    background-color: #FC7605;
    border: 1px solid #FC7605; }

.nav-tabs .nav-link.active {
  font-family: Roboto;
  color: #FFFFFF;
  background-color: #FC7605;
  border: 1px solid #FC7605; }

.custom-tab .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  background-color: #FC7605;
  color: #FFFFFF; }

/*==============================Static page Styling Start ===========================*/
.mini-paragraph-text {
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto;
  letter-spacing: 0;
  color: #7E7E7E;
  line-height: 18px;
  opacity: 1; }

.text-silver {
  color: #C9C9C9 !important; }

.page-section {
  margin-bottom: 50px; }

.section-title {
  font-size: 50px;
  font-weight: 500;
  font-family: Roboto;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1; }

.section-title-lead {
  font-size: 34px;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1;
  margin-bottom: 20px; }

.section-title-description {
  font-size: 21px;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1; }

a.section-link-text {
  font-size: 26px;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 0;
  letter-spacing: 0;
  color: #FC7605;
  opacity: 1; }

.theme-banner {
  background-image: url("../images/brochures---top-image.png");
  background-repeat: no-repeat;
  height: 620px;
  background-size: cover; }

.home-page .theme-banner {
  margin-bottom: 100px; }

.card.banner-signUp {
  position: absolute;
  top: -145px;
  right: 0;
  background: #FEFDFD 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding: 25px 40px;
  z-index: 9; }

.banner-signUp {
  max-width: 380px;
  width: 100%; }
  .banner-signUp h3 {
    font-size: 30px;
    font-weight: 500;
    font-family: Roboto;
    letter-spacing: 0;
    color: #160F53;
    opacity: 1; }
    .banner-signUp h3 + p {
      font: 400 18px/20px Roboto;
      letter-spacing: 0;
      color: #160F53;
      opacity: 1; }
  .banner-signUp form label {
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
    letter-spacing: 0;
    color: #160F53;
    opacity: 1;
    margin-bottom: 10px; }
  .banner-signUp form .form-group {
    margin-bottom: 18px; }
  .banner-signUp form input.form-control {
    border-top: 0;
    border-bottom: 1px solid #707070;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    padding: 0; }
  .banner-signUp form ::placeholder {
    font-size: 13px;
    font-family: Roboto;
    letter-spacing: 0;
    color: #160F53;
    opacity: 0.5; }
  .banner-signUp form .captcha {
    margin-top: 30px; }
    .banner-signUp form .captcha h5 {
      font-size: 17px;
      font-family: Roboto;
      font-weight: 400;
      letter-spacing: 0;
      color: #160F53;
      opacity: 0.5; }

.align-left-card {
  margin-bottom: 25px; }
  .align-left-card h5 {
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 8px;
    letter-spacing: 0;
    color: #505050;
    opacity: 1; }
  .align-left-card p {
    font-size: 17px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    color: #7E7E7E;
    opacity: 1; }

.agent-reason {
  min-height: 660px;
  background: url("../images/agent-3-6.png") center center/cover no-repeat;
  display: flex;
  align-items: center; }
  .agent-reason .section-title {
    color: #FFFFFF; }
  .agent-reason .section-title-lead {
    color: #C9C9C9;
    margin-bottom: 15px; }
  .agent-reason p {
    color: #FFFFFF;
    line-height: 18px;
    margin-bottom: 15px; }
  .agent-reason button {
    font-weight: 500; }

.agent-info-card {
  margin-bottom: 25px;
  text-align: center; }
  .agent-info-card img {
    margin-bottom: 10px; }
  .agent-info-card label.agent-name {
    display: block;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.27px;
    color: #333333;
    opacity: 1; }
  .agent-info-card label.agent-designation {
    font-size: 13px;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 5px;
    letter-spacing: 0.22px;
    color: #C9C9C9;
    opacity: 1; }
  .agent-info-card p {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.23px;
    color: #333333;
    opacity: 1; }

.ptb-100 {
  padding: 110px 0; }

.hs-business {
  background: #fff;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto; }
  .hs-business p {
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 10px;
    max-width: 313px;
    line-height: 18px;
    letter-spacing: 0;
    color: #333333;
    opacity: 1; }

.media.center-object img {
  max-width: 150px;
  width: 100%; }
.media.center-object h5 {
  font-size: 28px;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 7px;
  letter-spacing: 0;
  color: #333333;
  opacity: 1; }
.media.center-object p {
  font-size: 14px;
  font-family: Roboto;
  margin-bottom: 5px;
  line-height: 18px;
  font-weight: 400;
  color: #333333; }
.media.center-object button {
  border: none;
  padding: 5px 20px;
  font-size: 12px;
  font-family: Roboto; }

.city-search {
  max-width: 900px;
  background-color: #fff;
  width: 100%;
  margin: 0 auto; }
  .city-search .search-input-group {
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 15px; }
  .city-search input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(22, 15, 83, 0.2);
    height: 52px; }
  .city-search button {
    font-size: 14px;
    font-family: Roboto;
    padding: 15px 60px; }

.apps-button-group {
  padding: 20px 0 55px 0; }
  .apps-button-group a {
    display: inline-block;
    margin: 5px 8px; }
    .apps-button-group a img {
      max-width: 200px;
      width: 100%; }

.make-money-bg {
  background: url("../images/make-money-while-learning-to-code.png") center center/cover no-repeat;
  min-height: 534px;
  box-shadow: 0px 10px 70px #00000029; }

.make-money-content {
  margin-bottom: 70px;
  padding-top: 25px; }
  .make-money-content img {
    width: 42px;
    height: 42px; }
  .make-money-content h2 {
    font-size: 30px;
    font-family: Roboto;
    letter-spacing: 0;
    margin-bottom: 13px;
    color: #333333;
    opacity: 1; }

.get-started, .agent-extra {
  padding: 50px 0; }
  .get-started img, .agent-extra img {
    margin-bottom: 20px; }
  .get-started h2, .agent-extra h2 {
    font-size: 30px;
    font-family: Roboto;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
    margin-bottom: 30px; }
  .get-started p.mini-paragraph-text, .agent-extra p.mini-paragraph-text {
    margin-bottom: 30px; }
  .get-started a, .agent-extra a {
    font-size: 26px;
    font-weight: 400;
    font-family: Roboto;
    letter-spacing: 0;
    letter-spacing: 0;
    color: #FC7605;
    opacity: 1; }
    .get-started a i, .agent-extra a i {
      font-size: 30px; }

.app-section {
  padding-top: 50px; }
  .app-section h1 {
    line-height: 77px; }
  .app-section .row {
    background: url(../images/app.png) center right/contain no-repeat;
    height: 400px; }

.top-question-section .accordion .card {
  border: 0; }
  .top-question-section .accordion .card .card-header {
    background: transparent;
    padding: 25px 0;
    display: flex;
    align-items: flex-end; }
    .top-question-section .accordion .card .card-header:after {
      content: "\e145";
      margin-right: 0; }
    .top-question-section .accordion .card .card-header .card-title {
      color: #9B9B9B;
      font-size: 30px;
      font-weight: 400;
      font-family: Roboto; }

.guard-money-bg {
  background: url("../images/5-happy-people-thumbs-up-web.png") center center/cover no-repeat;
  min-height: 534px;
  box-shadow: 0px 10px 70px #00000029; }

.help-banner {
  background: url("../images/Untitled-1.png") center center/cover no-repeat;
  min-height: 495px;
  margin-bottom: 110px; }
  .help-banner h1 {
    font-size: 54px;
    font-weight: 500;
    font-family: Roboto;
    letter-spacing: 0;
    color: #FFFFFF;
    text-shadow: 3px 3px 2px #00000029;
    opacity: 1; }
  .help-banner h2 {
    font-size: 56px;
    font-weight: 400;
    font-family: Roboto;
    letter-spacing: 0;
    color: #7B7B7B;
    margin-bottom: 40px;
    opacity: 1; }
  .help-banner .input-group input {
    height: 80px;
    font-size: 23px;
    color: #FC7605;
    border: none; }
    .help-banner .input-group input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-size: 23px;
      font-weight: 400;
      font-family: Roboto;
      letter-spacing: 0;
      color: #FC7605;
      opacity: 1;
      /* Firefox */ }
    .help-banner .input-group input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-size: 23px;
      font-weight: 400;
      font-family: Roboto;
      letter-spacing: 0;
      color: #FC7605;
      opacity: 1;
      /* Firefox */ }
    .help-banner .input-group input::-ms-input-placeholder {
      /* Microsoft Edge */
      font-size: 23px;
      font-weight: 400;
      font-family: Roboto;
      letter-spacing: 0;
      color: #FC7605;
      opacity: 1;
      /* Firefox */ }

.media.help-card {
  margin-bottom: 80px; }
  .media.help-card .media-body h5 {
    font-size: 28px;
    font-weight: 400;
    font-family: Roboto;
    margin-bottom: 30px;
    letter-spacing: 0;
    color: #333333;
    opacity: 1; }
  .media.help-card .media-body ul {
    margin-bottom: 25px; }
    .media.help-card .media-body ul li {
      font-size: 19px;
      font-weight: 400;
      font-family: Roboto;
      margin-bottom: 8px;
      letter-spacing: 0;
      color: #9B9B9B;
      opacity: 1; }

.get-app-section .media {
  margin-bottom: 15px; }
  .get-app-section .media .media-body h5 {
    font-size: 17px;
    font-weight: 500;
    font-family: Roboto;
    letter-spacing: 0;
    margin-bottom: 10px;
    color: #160F53;
    opacity: 1; }
  .get-app-section .media .media-body p {
    font: Regular 14px/15px Neo Sans;
    letter-spacing: 0;
    color: #9B9B9B;
    opacity: 1; }

.cost-estimator {
  margin-top: 70px; }

.map-content {
  max-width: 460px;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 33%;
  z-index: 9; }
  .map-content .map-card {
    margin-bottom: 20px;
    padding: 25px 25px;
    background-color: #fff; }
    .map-content .map-card p {
      font-size: 18px;
      font-weight: 500;
      font-family: Roboto;
      letter-spacing: 0;
      color: #000000;
      opacity: 1; }
    .map-content .map-card .material-icons {
      vertical-align: middle; }
    .map-content .map-card input {
      padding: 5px 10px; }
      .map-content .map-card input::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 15px;
        font-weight: 400;
        font-family: Roboto;
        color: #B2B2B2;
        /* Firefox */ }
      .map-content .map-card input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-size: 15px;
        font-weight: 400;
        font-family: Roboto;
        color: #B2B2B2;
        /* Firefox */ }
      .map-content .map-card input::-ms-input-placeholder {
        /* Microsoft Edge */
        font-size: 15px;
        font-weight: 400;
        font-family: Roboto;
        color: #B2B2B2;
        /* Firefox */ }
    .map-content .map-card .btn {
      border: none; }

.cost-estimator-help {
  background-color: #FC7605;
  padding: 30px 0; }

.banner-page h2 {
  font-size: 45px;
  font-weight: 500;
  font-family: Roboto;
  margin-bottom: 20px;
  color: #160F53;
  opacity: 1; }
.banner-page h3 {
  font-size: 36px;
  font-weight: 500;
  font-family: Roboto;
  margin-bottom: 55px;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1; }
.banner-page p {
  font-size: 27px;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1; }

.business-banner {
  background: url(../images/citi.png) center center/cover no-repeat;
  min-height: 495px;
  margin-bottom: 110px; }
  .business-banner .banner-card {
    background-color: #fff;
    padding: 25px 25px; }

.cities-banner {
  background: url(../images/images@2x.png) center center/cover no-repeat;
  min-height: 495px;
  margin-bottom: 110px; }
  .cities-banner .banner-card {
    background-color: #fff;
    padding: 25px 25px; }

.table.table-striped tr td, .table.table-striped tr th {
  padding: 10px 10px;
  vertical-align: top;
  font-size: 21px;
  font-family: Roboto;
  font-weight: 400;
  border-top: none; }
.table.table-striped thead th {
  vertical-align: bottom;
  border-bottom: none; }
.table.table-striped tbody tr:nth-of-type(even) {
  background-color: #FDAC69;
  color: white !important; }
.table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
  color: #FC7605; }

.requirement-container {
  max-width: 678px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }
  .requirement-container .media {
    margin-bottom: 60px; }
    .requirement-container .media img {
      width: 77px; }
    .requirement-container .media .media-body h5 {
      font-size: 32px;
      font-family: Roboto;
      font-weight: 500;
      margin-bottom: 15px;
      letter-spacing: 0;
      color: #160F53;
      opacity: 1; }
    .requirement-container .media .media-body p {
      font-size: 21px;
      font-family: Roboto;
      font-weight: 400;
      letter-spacing: 0;
      color: #160F53;
      margin-bottom: 15px;
      opacity: 1; }
    .requirement-container .media .media-body ul li {
      font-size: 21px;
      font-family: Roboto;
      font-weight: 400;
      letter-spacing: 0;
      color: #160F53;
      margin-bottom: 15px;
      opacity: 1; }

.support-content .media {
  margin-bottom: 25px; }
  .support-content .media .media-body h5 {
    font-size: 37px;
    font-family: Roboto;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0;
    color: #160F53;
    opacity: 1; }
  .support-content .media .media-body p {
    font-size: 22px;
    font-family: Roboto;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 25px;
    letter-spacing: 0;
    color: #160F53;
    opacity: 1; }

/*==============================Static page Styling End===========================*/
/*Edit Profile styling End*/
@media (min-width: 768px) {
  .agent-form .vdivide > div:first-child, .agent-form .v-spacer > div:first-child {
    padding-right: 50px; }
  .agent-form .row.vdivide > div:last-child, .agent-form .row.v-spacer > div:last-child {
    padding-left: 50px; }

  .header-sign-up-btn-1 {
    display: none; }

  .header-sign-up-btn-2 {
    display: block; }

  .header-set {
    margin-left: 20px;
    margin-right: 20px; }

  .header-card-width {
    max-width: 609px !important;
    height: 52px !important;
    position: absolute;
    right: 0;
    top: 0; } }
@media (max-width: 768px) {
  .header .logo-img {
    max-width: 115px;
    width: 100%; } }
@media (max-width: 767px) {
  .map-content {
    position: static;
    transform: inherit;
    margin-top: 20px; }
    .map-content .map-card {
      box-shadow: 0px 20px 100px #00000040; }

  .row.vdivide [class*='col-']:not(:last-child):after {
    border-right: none;
    width: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px; }

  .header-sign-up-btn-1 {
    display: block; }

  .header-sign-up-btn-2 {
    display: none; }

  .header-card-width {
    width: 100%;
    height: 52px !important; }

  .header-set {
    margin-left: 15px;
    height: 52px;
    margin-right: 15px; }
    .header-set:last-child, .header-set:nth-last-child(2) {
      margin: 0;
      padding: 0 15px; }

  .header-blur {
    border-radius: 0; }

  .agent-register {
    margin-bottom: 75px; }

  .align-left-card {
    text-align: center; } }

/*# sourceMappingURL=custom-style.css.map */
