/* CSS Rest*/
/*https://xd.adobe.com/view/8d0a2169-ac32-4e25-6870-61bc7172f10e-fb3b/*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
::placeholder{
  font-size: 18px;
  font-family: Roboto;
  letter-spacing: 0;
  color: #c9c9c9;
  opacity: 1;
}
/* HTML5 display-role reset for older browsers */
.bg-semi-dark {
  background-color: #F1EFEF;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #CAD3DF 0% 0% no-repeat padding-box;
}
.form-item__element {
  display: inline-block;
}

.form-item__element--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #c9c9c9;
  font-family: Roboto;
  font-size: 15px;
}
.form-item__element--select:invalid {
  color: #C9C9C9;
}
.form-item__element--select.has-placeholder {
  color: #C9C9C9;
}
.form-item__element--select [disabled] {
  color: #C9C9C9;
}
.form-item__element--select option {
  color: #C9C9C9;

}
body {
  line-height: 1;
  padding: 0;
  margin: 0;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul {
  padding: 0px;
  margin: 0;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #FC7605 ;
}
.border-bottom {
  border-bottom: 1px solid #707070!important;
}
.border-top {
  border-top: 1px solid #707070!important;
}
.paragraph-text {
  font-size: 22px;
  margin-bottom: 40px;
  line-height: 35px;
  font-weight: 400;
  font-family: Roboto;
  letter-spacing: 0;
  color: #000000;
}
.btn-style{
   background: #FC7605 0% 0% no-repeat padding-box;
   border-radius: 10px;
   opacity: 1;
   font-size: 18px;
   letter-spacing: 0;
   color: #FFFFFF;
   opacity: 1;
 }
.btn-style:hover {
  color: #FFFFFF;
}
.btn-dark-style{
  width: 156px;
  height: 52px;
  background: #707070 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  font-size: 18px;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}
.btn-dark-style:hover {
  color: #FFFFFF;
}
.add-btn {
  border: 1px solid #FC7605;
  border-radius: 10px;
  opacity: 1;
  padding: 14px 60px;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  color: #FC7605;
  opacity: 1;
}
/* CSS Rest*/
/*File Picker Button css Start*/

.file-picker {
  position: relative;
  cursor: pointer;
}
.file-picker label {
  background: #BFBCBC 0% 0% no-repeat padding-box;
  border: 0.25px solid #707070;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  font-family: Roboto;
  padding: 8px 12px;
  opacity: 1;
  transition: all .4s;
}
.file-picker input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  opacity: 0.01;
  cursor: pointer;
}
.file-picker input:hover + label,
.file-picker input:focus + label {
  background: #BFBCBC 0% 0% no-repeat padding-box;
  border: 0.25px solid #707070;
  color: #000;
}
/*File Picker Button css End*/
/*elements Toggle switch Button*/
.switch {
  position: relative;
}
.cmn-toggle {
  position: absolute;
  visibility: hidden;
}
.switch .no-absolute {
  font-family: Roboto;
  position: absolute;
  top: 8px;
  z-index: 1;
  right: 7px;
  font-size: 14px !important;
}
.switch .yes-absolute {
  font-family: Roboto;
  color: #FC7605 !important;
  position: absolute;
  top: 8px;
  z-index: 1;
  left: 7px;
  font-size: 14px !important;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round-flat + label {
  width: 60px;
  height: 30px;
  background-color: #707070;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  height: 30px;
  width: 30px;
  background-color: #707070;
  border-radius: 53px;
  transition: margin 0.4s, background 0.4s;
  z-index: 9;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #FC7605;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 30px;
  background-color: #FC7605;
}


/*https://jsfiddle.net/fpy4hLgs/1/*/
/*https://jsfiddle.net/Rayudu/709753m0/*/
/*elements Toggle switch Button*/

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.mini-container {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
h1.head-title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
  color: #160F53;
}
.page-title {
  font-family: Roboto;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1;
}
.title-lead {

}
.custom-form {
  max-width: 345px;
  width: 100%;
  margin: 0 auto;
}
input.form-control {
  padding: 10px 30px;
  height: 40px;
}
.custom-form .input-group {
  padding:5px;
  margin-top: 20px;
  border: 1px solid #707070;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
}
.custom-form  .input-group  .form-control:focus {
  color: inherit;
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.form-control:focus {
  color: inherit;
  background-color: #fff;
  outline: 0;
  box-shadow: none;
}
.custom-form  .input-group .form-control{
  height: 40px;
  border-radius: 10px;
  border: none;
}
.custom-form .input-group-prepend {
  margin-right: 1px;
}
.custom-form .form-btn {
  width: 156px;
  height: 52px;
}

.page-title-icon {
  width: 94px;
  height: 94px;
  background: #FC7605 0% 0% no-repeat;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
}
.theme-footer {
  margin-top: 30px;
}
.theme-footer .footer-sep {
  border-right: 1px solid #CAD3DF;
  border-left: 1px solid #CAD3DF;
}
.theme-footer p {
  color: #8493A8;
}
.theme-footer .footer-menu .f-title, .f-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
  letter-spacing: 0;
  color: #3D4D65;
  text-transform: uppercase;
  opacity: 1;
}
.theme-footer .footer-menu ul li {
  font-family: Roboto;
  margin-bottom: 15px;
  font-size: 15px;
  letter-spacing: 0;
  color: #3D4D65;
  opacity: 1;
}
.theme-footer .bottom-footer p {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0;
  color: #8493A8;
}
.subscribe-field {

}
.subscribe-field input{
  background-color: #ECEFF4;
}


/*Become Agent Page*/

.agent-register {
  margin-bottom: 145px;
}

/*welcome-page*/

.welcome-page .start-btn, .start-btn {
  width: 156px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  background: #FC7605 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

.agent-form {
  background-color: #FCFCFC;
  padding: 30px 40px;
  margin-bottom: 70px;
}
.agent-form .form-title {

  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
  margin-bottom: 35px;
}
.agent-form .form-title + p.title-description {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  margin-bottom: 50px;
  letter-spacing: 0;
  color: #979797;
  opacity: 1;
}
.agent-form h3.mini-title {
  font-family:  Roboto;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  border-right: 1px solid #707070;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
.agent-form .form-tag-line {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  margin-bottom: 50px;
}
.agent-form .form-section {
  margin-bottom: 10px;
}
.agent-form .form-group {
  margin-bottom: 17px;
}
.agent-form .form-group span.switch-title {
  font-size: 20px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}
 .agent-form .form-group label {
  font-size: 17px;
   font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}
.agent-form .form-group input.form-control ,.agent-form .form-group select.form-control {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 10px;
  opacity: 1;
}
.agent-form .form-group input::placeholder{
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0;
  color: #C9C9C9;
  opacity: 1;
}
.agent-form .form-group input.form-control {
  padding: 5px 15px;
}
.agent-form .form-done-screen img {
  max-width: 156px;
  width: 100%;
  margin-bottom: 40px;
}
.agent-form .form-done-screen h1 {
  ont-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 0;
  color: #160F53;
  opacity: 1;
}
.agent-form .form-done-screen h1 + p {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 25px;
  color: #9B9B9B;
  opacity: 1;
}
.agent-form .form-done-screen p.ref-text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 0;
  color: #FC7605;
  opacity: 1;
}
.agent-form .form-done-screen p.box-text {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  margin-bottom: 24px;
  opacity: 1;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #FC7605;
  opacity: 1;
  padding: 2px 5px;
}
.agent-form .add-file-group {
  padding-top: 25px;
  padding-bottom: 50px;
  margin-bottom: 7px;
}
.agent-form .add-file-group h2.add-file-ref-title {
  display: inline-block;
  font-family: Roboto;
  font-size: 34px;
  vertical-align: middle;
  margin-right: 70px;
  font-weight: 300;
  letter-spacing: 0;
  color: #FC7605;
  opacity: 1;
}
.agent-form .add-file-group h2.add-file-ref-title span {
  font-size: 22px;
  font-weight: 500;
  font-family: Roboto;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}
.agent-form .add-file-group + p.add-file-info {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 110px;
  color: #B1B1B1;
  opacity: 1;
}
.form-group .input-group i {
  position: absolute;
  right: 5px;
  top: 8px;
  color: #FC7605;
  z-index: 9;
}
.form-group select.input-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}


.form-group select + i {
  z-index: 9;
  position: relative;
  float: right;
  margin-top: -30px;
  margin-right: 5px;/
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  background-color: #fff;
  padding-right: 5px;
  color: #FC7605;
}
.agent-form .form-lead-text {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  line-height: 24px;
}












/*https://codepen.io/athimannil/pen/wWPYkQ/*/
.progress-container{
  margin-top: 40px;
  margin-bottom: 60px;
  z-index: 1;
}
.progressbar {
  display: table;
  width: 100%;
  position: relative;
}
.progressbar li{
  width: calc(100% / 6);
  position: relative;
  display: table-cell;
  text-align: center;
}
.progressbar li label {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0;
  color: #FC7605;
  opacity: 1;
}
.progressbar span:after{
  content: url(../images/progress-icon.jpg);
  z-index: 9999999;
  background: #fff;
}

.progressbar span:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #979797;
  top: 23px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child span:before{
  content: none;
}

.progressbar li span.active:before{
  background: #FC7605 ;
}
.progressbar li span.active:after{
  content: url(../images/progress-icon-2.png);
  color: white
}

@media (min-width: 768px) {
  .agent-form .vdivide > div:first-child, .agent-form .v-spacer > div:first-child {
    padding-right: 50px;
  }
  .agent-form .row.vdivide > div:last-child, .agent-form .row.v-spacer > div:last-child{
    padding-left: 50px;
  }
  .header-sign-up-btn-1 {
    display: none;
  }
  .header-sign-up-btn-2 {
    display: block;
  }
  .header-set{
    margin-left: 20px;
    margin-right: 20px;
  }
  .header-card-width{
    max-width: 609px !important;
    height: 52px !important;
    position: absolute;
    right: 0;
    top: 0;
  }

}
@media (max-width: 767px) {
  .row.vdivide [class*='col-']:not(:last-child):after {
    border-right: none;
    width: 0;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
  }

  .header-sign-up-btn-1 {
    display: block;
  }
  .header-sign-up-btn-2 {
    display: none;
  }
  .header-card-width {
    width: 100%;
    height: 52px !important;
  }
  .header-set {
    margin-left: 15px;
    height: 52px;
    margin-right: 15px;
  }
  .header-set:last-child, .header-set:nth-last-child(2) {
    margin: 0;
    padding: 0 15px;
  }
  .header-blur {
    border-radius: 0;
  }
  .agent-register {
    margin-bottom: 75px;
  }
}

